@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

@keyframes circulo{
    from{clip-path: circle(0% at 50% 50%);}
    to{clip-path: circle(50.0% at 50% 50%);}
    }

@keyframes typing{
    from { width: 0 }
    to { width: 100% }
    }
    
@keyframes blink-caret{
    from,
    to { border-color: transparent }
    50% { border-color: rgb(196, 17, 17); }
}

@keyframes percent1{
    0% { width: 82% }
    100% { width: 85% }
}

@keyframes percent2{
    0% { width: 52% }
    100% { width: 55% }
}

@keyframes percent3{
    0% { width: 77% }
    100% { width: 80% }
}

@keyframes percent4{
    0% { width: 87% }
    100% { width: 90% }
}

@keyframes percent5{
    0% { width: 57% }
    100% { width: 60% }
}

html{
    scroll-behavior: smooth
}

body{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'Source Code Pro';
}

main{
    width: 100%;
    height: 100%;
}

.hero-container{
    display: flex;
    width: 100%;
    height: 100%;
}

.hero-bg{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -4;
    position: fixed;
}

.hero-img{
    height: auto;
    width: 37%;
    margin-top: 5%;
    filter: drop-shadow(1px 1px 4px black);
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.sections{
    margin-left: 2%;
    display: grid;
    margin-top: 8%;
    width: 20%;
}

.s1, .s4{
    transition: width 0.5s;
    width: 20%;
}

.s2{
    transition: width 0.5s;
    width: 25%;
}

.s3{
    transition: width 0.5s;
    width: 18%;
}

.s1:hover, .s4:hover{
    width: 20.5%;
    filter: drop-shadow(1px 1px 3px #000000);
}

.s2:hover{
    width: 25.5%;
    filter: drop-shadow(1px 1px 3px #000000);
}

.s3:hover{
    width: 18.5%;
    filter: drop-shadow(1px 1px 3px #000000);
}

.s1{
margin-left: 75%;
}

.s2{
margin-left: 50%;
}

.s3{
margin-left: 50%;
}

.s4{
margin-left: 75%;
}

.info{
    margin-left: 2%;
    margin-top: 8%;
}

.hello{
    font-size: 1.3vw;
}

.line{
    color: gray;
    font-size: 1.3vw;
}

.info h1{
    font-size: 2vw;
    margin-top: 12%;
    overflow: hidden;
    border-right: .15em solid rgb(201, 14, 14);
    white-space: nowrap;
    letter-spacing: .15em;
    background-color: rgba(255, 0, 0, 0.144);
    animation: 
        typing 2s steps(60, end),
        blink-caret .75s step-end infinite;
}

.presentation{
    font-size: 1vw;
    margin-top: 10%;
}

.presentation:after {
    margin: 2%;
    display: block;
    content: '';
    border-bottom: solid 3px #dd0e0ebd;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }

.presentation:hover:after {
    transform: scaleX(1); 
}

.presentation:after{ transform-origin:0% 50%; }

.location{
    font-size: 1vw;
    margin-top: 20%;
}

.socials{
    position: absolute;
    display: flex;
    width: 10%;
    margin-top: 3%
}

.socials img{
    opacity: 0.7;
    width: 25%;
    height: auto;
    transition: opacity 1s;
}

.socials img:hover{
    opacity: 1;
    height: auto;
    filter: drop-shadow(1px 1px 3px #ff00008e);
}

.socials img:last-child{
    margin-left: 20%;
}

#skills{
    width: 100%;
    margin-top: 12%;
    padding-bottom: 10%;
}

#skills h1{
    padding: 1%;
    text-align: center;
    font-size: 2vw;
    margin-top: 1%;
    margin-left: 43%;
    margin-right: 43%;
    display: block;
    content: '';
    border-bottom: solid 3px #df0000;
}

.bars{
    display: flex;
    width: 70%;
    margin-left: 16%;
    margin-top: 5%;
}

.firstblock{
    width: 30%;
}

.firstblock p{
    font-size: 1.2vw;
    margin-top: 15%;
}

.bar{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.342);
    filter: drop-shadow(0px 0px 3px black);
}

.firstbarinside{
    background-color: #c40000;
    height: 25px;
    width: 85%;
    animation: percent1 1.5s infinite alternate;
}

.secondbarinside{
    background-color: #c40000;
    height: 25px;
    width: 85%;
    animation: percent2 1.5s infinite alternate;
}

.thirdbarinside{
    background-color: #c40000;
    height: 25px;
    width: 85%;
    animation: percent3 1.5s infinite alternate;
}

.secondblock{
    width: 30%;
    margin-left: 38%;
}

.secondblock p{
    margin-top: 15%;
    font-size: 1.2vw;
}

.fourthbarinside{
    background-color: #c40000;
    height: 25px;
    width: 85%;
    animation: percent1 1.5s infinite alternate;
}

.fifthbarinside{
    background-color: #c40000;
    height: 25px;
    width: 85%;
    animation: percent4 1.5s infinite alternate;
}

.sixthbarinside{
    background-color: #c40000;
    height: 25px;
    width: 85%;
    animation: percent5 1.5s infinite alternate;
}

#formation{
    width: 100%;
    margin-top: 5%;
}

#formation h1{
    padding: 1%;
    text-align: center;
    font-size: 2vw;
    margin-top: 1%;
    margin-left: 43%;
    margin-right: 43%;
    display: block;
    content: '';
    border-bottom: solid 3px #df0000;
}

.formation-container{
    margin-top: 7%;
    width: 80%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.formation-block{
    color: white;
    width: 45%;
    display: flex;
    height: 15%;
    background-color: #b10000;
    filter: drop-shadow(1px 1px 3px black);
    transition: 2s;

}

.formation-block img{
    width: 40%;
    height: 20%;
}

.formation-block:hover{
    width: 48%;
    transition: 2s;
}

.formation-2nd{
    margin-left: 10%;
}

.formation-3rd{
    margin-top: 6%;
    margin-left: 25%;
    width: 50%;
    transition: 2s;
}

.formation-3rd:hover{
    width: 53%;
    transition: 2s;
}

.formation-3rd img{
    overflow: hidden;
    width: 35%;
    height: 20%;
}

.formation-block div{
    width: auto;
}

.formation-block p{
    margin: 8%;
    font-size: 1vw;
}

.formation-3rd p{
    margin: 7%;
}

.titulation{
    font-weight: 800;
    font-size: 1.15vw;
}

#experience{
    width: 100%;
    margin-top: 10%;
}

#experience h1{
    padding: 1%;
    text-align: center;
    font-size: 2vw;
    margin-top: 1%;
    margin-left: 43%;
    margin-right: 43%;
    display: block;
    content: '';
    border-bottom: solid 3px #df0000;
}

.experience-block{
    margin-top: 7%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    }

.experience-block img{
    margin-top: 5%;
    width: 40%;
    margin-left: 5%;
    height: auto;
    padding: none;
    filter: drop-shadow(0px 0px 5px black);
}

.glassmorphism-block{
    margin-top: 1.5%;
    margin-left: 35%;
    z-index: -1;
    position: absolute;
    height: 45%;
    width: 33%;
    background: rgba(255, 255, 255, 0.342);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.281);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.glassmorphism-block2{
    z-index: -2;
    position: absolute;
    height: 52%;
    width: 70%;
    background: rgb(202, 0, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.596);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.job{
    margin-top: 6%;
    width: 100%;
    margin-left: 7%;
    font-size: 1vw;
}

.job-title{
    font-weight: 800;
    font-size: 1.25vw;
    margin-top: 5%;
    padding-bottom: 5%;
}

#contacto{
    margin-top: 10%;
}