@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

@keyframes circulo{
    from{clip-path: circle(0% at 50% 50%);}
    to{clip-path: circle(50.0% at 50% 50%);}
    }

@keyframes typing{
    from { width: 0 }
    to { width: 100% }
    }
    
@keyframes blink-caret{
from, to { border-color: transparent }
50% { border-color: rgb(196, 17, 17); }
}

body{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'Source Code Pro';
}

main{
    width: 100%;
    height: 100%;
}

.hero-container{
    display: flex;
    width: 100%;
    height: 100%;
}

.hero-bg{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -4;
}

.hero-img{
    height: auto;
    width: 40%;
    margin-top: 3%;
    filter: drop-shadow(1px 1px 4px black);
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.sections{
    display: grid;
    margin-top: 8%;
    width: 20%;
}

.s1, .s4{
    transition: width 0.5s;
    width: 20%;
}

.s2{
    transition: width 0.5s;
    width: 25%;
}

.s3{
    transition: width 0.5s;
    width: 18%;
}

.s1:hover, .s4:hover{
    width: 20.5%;
    filter: drop-shadow(1px 1px 3px #000000);
}

.s2:hover{
    width: 25.5%;
    filter: drop-shadow(1px 1px 3px #000000);
}

.s3:hover{
    width: 18.5%;
    filter: drop-shadow(1px 1px 3px #000000);
}

.s1{
margin-left: 75%;
}

.s2{
margin-left: 50%;
}

.s3{
margin-left: 50%;
}

.s4{
margin-left: 75%;
}

.info{
    margin-left: 2%;
    margin-top: 8%;
}

.hello{
    font-size: 24px;
}

.line{
    color: gray;
    font-size: 24px;
}

.info h1{
    margin-top: 12%;
    overflow: hidden;
    border-right: .15em solid rgb(201, 14, 14);
    white-space: nowrap;
    letter-spacing: .15em;
    background-color: rgba(255, 0, 0, 0.144);
    animation: 
        typing 2s steps(60, end),
        blink-caret .75s step-end infinite;
}

.presentation{
    margin-top: 10%;
}

.presentation:after {
    margin: 2%;
    display: block;
    content: '';
    border-bottom: solid 3px #dd0e0e;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }

.presentation:hover:after {
    transform: scaleX(1); 
}

.presentation:after{ transform-origin:0% 50%; }

.location{
    margin-top: 20%;
}

.socials{
    position: absolute;
    display: flex;
    width: 10%;
    margin-top: 4%
}

.socials img{
    opacity: 0.7;
    width: 25%;
    height: auto;
    transition: opacity 1s;
}

.socials img:hover{
    opacity: 1;
    height: auto;
    filter: drop-shadow(1px 1px 3px #ff00008e);
}

.socials img:last-child{
    margin-left: 20%;
}